
# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Distribution / Packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store

# Docker / Project specific
postgres_data/
ollama_data/
pdfs/
vector.txt
